@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Vanilla CSS equivalent */
  background-image: url("../public/background.png");
  background-repeat: space;
  /* background-position: right bottom; */
  font-family: "Inter", sans-serif;
  color: #444;
}
